@import "variables";
@import "mixins";

.date-picker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  background-color: #fff;
  color: $text-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  display: inline-block;
  position: relative;
}

.datepicker__container {
  position: absolute;
  display: inline-block;
  z-index: 2147483647;
}

.datepicker__triangle {
  position: absolute;
  left: 50px;
}

.tether-element-attached-top .datepicker__triangle {
  @extend %triangle-arrow-up;
}

.tether-element-attached-bottom .datepicker__triangle {
  @extend %triangle-arrow-down;
}

.dp-header {
  text-align: center;
  background-color: $background-color;
  border-bottom: 1px solid $border-color;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.dp-nav-view {
  color: black;
  font-weight: bold;
  font-size: 13px;
}

.dp-nav-table {
  line-height: $item-size;
  width: 100%;
  text-align: center;
  cursor: pointer;

  .dp-nav-cell {
      border: 6px solid transparent;
      padding: 0;
      position: absolute;
      top: 8px;
      width: 0;
  }

  .dp-prev-nav {
    border-right-color: $muted-color;
    left: 10px;

    &:hover {
      border-right-color: darken($muted-color, 10%);
    }
  }

  .dp-next-nav {
    border-left-color: $muted-color;
    right: 10px;

    &:hover {
      border-left-color: darken($muted-color, 10%);
    }
  }
}


.dp-week-day-name {
  /*color: $muted-color;*/
  display: inline-block;
  width: $item-size + (2 * $day-margin);
  line-height: $item-size;
}

.dp-month-view {
  margin: $datepicker__margin;
  text-align: center;
}

.dp-day {
  color: $text-color;
  display: inline-block;
  width: $item-size;
  line-height: $item-size;
  text-align: center;
  margin: $day-margin;
  cursor: pointer;

  &:hover {
    border-radius: $border-radius;
    background-color: $background-color;
  }

  &.dp-current {
    font-weight: bold;
  }

  &.dp-value {
    border-radius: $border-radius;
    background-color: $selected-color;
    color: #fff;

    &:hover {
      background-color: darken($selected-color, 5%);
    }
  }

  &.dp-disabled {
    cursor: default;
    color: $muted-color;

    &:hover {
      background-color: transparent;
    }
  }
}
